.fieldWrapper {
  margin: 10px;
}

.fieldWrapper input {
  width: 100%;
}

.fieldWrapper ul li, .help {
  font-size: 0.8em;
}

div.alert {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  display: none;
  z-index: 999;
}

.btn-xs {
  border-radius: 50%;
  margin-right: 10px;
}

.gallery_thumbnail {
  margin-top: 5px;
  margin-bottom: 5px;
  max-height: 300px;
}

.flexed {
  display: flex;
  flex-wrap: wrap;
}

.flexed-items {
  margin: 5px -1px;
}

.form-btn {
  display: inline;
}

.overflow {
  overflow: scroll;
  height: 500px;
}
