{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
        <h1 class="text-center">Edit</h1>
    </div>

    <div class="col-md-4">
      <form action="." method="POST" id="add-form">
        {% csrf_token %}
        {% for field in item_form %}
          <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
          </div>
        {% endfor %}
        <div class="form-group fieldWrapper">
          <button class="btn btn-default">Add</button>
        </div>
      </form>

      <form action="/item/delete/" method="POST" id="delete-form">
        {% csrf_token %}
        <input type="hidden" name="delete_id">
      </form>
    </div>
  </div>
</div>
{% include 'base_scripts.html' %}
{% include 'base_item_script.html' %}
{% endblock %}
