{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Trades</h1>
            <p class="lead text-center">This is where you can check and edit your trades.</p>
            <!--Proposed trade requests-->
            <h1>Proposed Trade Requests</h1>
            <ul>
                {% for trade in sent_proposals %}
                    <li><a href="/item/trade/{{trade.id}}/window">Trade Request for {{ trade.receiver_item.name }} owned by {{ trade.receiver.first_name }}</a> - {{trade.status}}</li>
                {% endfor %}
            </ul>
            <!---->

            <!--Received trade requests-->
            <h1>Received Trade Requests</h1>
            <ul>
                {% for trade in received_proposals %}
                    <li><a href="/item/trade/{{trade.id}}/window">{{ trade.sender.first_name }} has sent you a trade request</a> - {{trade.status}}</li>
                {% endfor %}
            </ul>
            <!---->

            <!--Completed trade requests-->
            <h1>Completed Trade Requests</h1>
            <ul>
                {% for trade in completed_proposals%}
                    <li>{{ trade.log_message.message}}</li>
                {% endfor %}
            </ul>
            <!---->
        </div>
    </div>
</div>

{% include 'base_scripts.html' %}
{% endblock %}